<div class="center jumbotron">
  
  <h1>Welcome to the Livin Room</h1>
  
  <h2>
    This is the home page where you can create your own space
  </h2>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
  
</div>

<div class="row">
  
  <div class="col-lg-4">
    
    <h3 class="midrow">
      View Post as Guest User
    </h3>
    
    <h2 class="left">View posts as guest and Sign up later</h2>
    <p><%= link_to "Browse Posts", "", class: "btn btn-warning btn-small" %></p>
    
  </div>
  
  
  <div class="col-lg-4">
    
    <h3 class="midrow">
      View Post as Guest User
    </h3>
    
    <h2 class="left">View posts as guest and Sign up later</h2>
    <p><%= link_to "Browse Posts", "", class: "btn btn-warning btn-small" %></p>
    
  </div>
  
  
  <div class="col-lg-4">
    
    <h3 class="midrow">
      View Post as Guest User
    </h3>
    
    <h2 class="left">View posts as guest and Sign up later</h2>
    <p><%= link_to "Browse Posts", "", class: "btn btn-warning btn-small" %></p>
    
  </div>
  
  
  
</div>

